.header {
  display: flex;
  padding: 20px 0;
  justify-content: space-evenly;
  cursor: pointer;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > h2 {
  font-size: large;
  padding: 0 8px;
}

.header__right {
  display: flex;
  justify-content: space-evenly;
}
